<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.project.model.Users" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="pay_passwd" property="payPasswd" jdbcType="VARCHAR" />
    <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="qrcode_ticket" property="qrcodeTicket" jdbcType="VARCHAR" />
    <result column="recommend_qty" property="recommendQty" jdbcType="INTEGER" />
    <result column="recommend_user_id" property="recommendUserId" jdbcType="VARCHAR" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, shop_id, login_name, nick_name, passwd, sex, head_img, mobile, province, 
    city, district, address, pay_passwd, wx_open_id, qrcode_ticket, recommend_qty, recommend_user_id, 
    is_used, created_at, updated_at, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from users
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.project.model.Users" >
    insert into users (id, type, shop_id, 
      login_name, nick_name, passwd, 
      sex, head_img, mobile, province, 
      city, district, address, 
      pay_passwd, wx_open_id, qrcode_ticket, 
      recommend_qty, recommend_user_id, is_used, 
      created_at, updated_at, status
      )
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, #{shopId,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{sex,jdbcType=BIT}, #{headImg,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{payPasswd,jdbcType=VARCHAR}, #{wxOpenId,jdbcType=VARCHAR}, #{qrcodeTicket,jdbcType=VARCHAR}, 
      #{recommendQty,jdbcType=INTEGER}, #{recommendUserId,jdbcType=VARCHAR}, #{isUsed,jdbcType=BIT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.model.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="payPasswd != null" >
        pay_passwd,
      </if>
      <if test="wxOpenId != null" >
        wx_open_id,
      </if>
      <if test="qrcodeTicket != null" >
        qrcode_ticket,
      </if>
      <if test="recommendQty != null" >
        recommend_qty,
      </if>
      <if test="recommendUserId != null" >
        recommend_user_id,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="payPasswd != null" >
        #{payPasswd,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeTicket != null" >
        #{qrcodeTicket,jdbcType=VARCHAR},
      </if>
      <if test="recommendQty != null" >
        #{recommendQty,jdbcType=INTEGER},
      </if>
      <if test="recommendUserId != null" >
        #{recommendUserId,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=BIT},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.model.Users" >
    update users
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="payPasswd != null" >
        pay_passwd = #{payPasswd,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeTicket != null" >
        qrcode_ticket = #{qrcodeTicket,jdbcType=VARCHAR},
      </if>
      <if test="recommendQty != null" >
        recommend_qty = #{recommendQty,jdbcType=INTEGER},
      </if>
      <if test="recommendUserId != null" >
        recommend_user_id = #{recommendUserId,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=BIT},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.model.Users" >
    update users
    set type = #{type,jdbcType=BIT},
      shop_id = #{shopId,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      head_img = #{headImg,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pay_passwd = #{payPasswd,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      qrcode_ticket = #{qrcodeTicket,jdbcType=VARCHAR},
      recommend_qty = #{recommendQty,jdbcType=INTEGER},
      recommend_user_id = #{recommendUserId,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>